<html>
  <head>
    <title>Aviário EAJ</title>
    <meta charset="utf-8">

    <script src="https:/ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  </head>
  <body>
  <div style="">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Automação eletrônica do Aviário EAJ</a>

      </div>
    </nav>
    <div class="jumbotron" style="padding:40px;">
      <h2>Temperatura: <span id="temp" class="label label-success"></span> °C<h2>
      <h2>Humidade: <span id="humidade" class="label label-success"></span> %<h2>
      <p><a id="lampada01" class="btn btn-success btn-lg" status="on" href="#" role="button">lampada01<span></span></a></p>
      <p><a id="lampada02" class="btn btn-success btn-lg" status="on" href="#" role="button">lampada02<span></span></a></p>
    </div>
  </div>
  </body>
</html>
